.order {
	position: relative;
}

.order__wrapper {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	padding: 16px 10px;
	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
	border-radius: 12px;
}

.order__wrap-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	outline: none;
}

.order__wrap-title::after {
	content: '';
	position: absolute;
	inset: 0;
	border-radius: 12px;
	outline: 3px solid transparent;
	pointer-events: none;
}

.order__wrap-title:focus-visible::after {
	outline-color: #ffab08;
}

.order--open .order__wrap-title {
	margin-bottom: 8px;
}

.order__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 100%;
}

.order__count {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 16px;
	background: #f2f2f3;
	border-radius: 6px;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}

.order__wrap-list {
	display: none;
}

.order--open .order__wrap-list {
	display: block;
}

.order__list {
	margin-bottom: 13px;
}

.order__item {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 10px 0;
	border-bottom: 1px solid #f2f2f3;
}

.order__item:first-child {
	border-top: 1px solid #f2f2f3;
}

.order__img {
	width: 64px;
	height: 52px;
	border-radius: 8px;
}

.order__product {
	flex-grow: 1;
	font-size: 12px;
	line-height: 16px;
}

.order__product-title {
	margin-bottom: 1px;
	font-weight: 400;
	color: #000000;
}

.order__product-weight {
	margin-bottom: 6px;
	color: #b1b1b1;
}

.order__product-price {
	color: #000000;
}

.order__total {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 19px;
	font-weight: 400;
	font-size: 12px;
	line-height: 130%;
}

.order__submit {
	padding: 9px;
	margin-bottom: 8px;
	width: 100%;
	background: #ff7020;
	border-radius: 8px;
	font-weight: 400;
	font-size: 12px;
	line-height: 100%;
	color: #fff;
}

.order__wrap-appeal {
	display: flex;
	align-items: center;
	justify-content: center;
}

.order__appeal {
	padding-left: 32px;
	min-height: 24px;
	background: url('../img/delivery.png') left/24px no-repeat;
	font-weight: 400;
	font-size: 10px;
	line-height: 24px;
	color: #000;
}

.order__close {
	font-weight: 400;
	font-size: 10px;
	line-height: 14px;
	color: #b1b1b1;
}

.order__empty {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
}

@media (min-width: 768px) {
	.order {
		width: 145px;
		transition: width 0.6s ease-in-out;
	}

	.order.order--open {
		width: 300px;
	}
}

@media (min-width: 1024px) {
	.order {
		width: 300px;
	}

	.order__wrapper {
		position: unset;
		padding: 24px 16px;
	}

	.order__wrap-title {
		margin-bottom: 12px;
		outline: none;
	}

	.order__wrap-title::after {
		content: none;
	}

	.order__title {
		font-size: 24px;
	}

	.order__count {
		width: 41px;
		height: 20px;
		font-size: 12px;
	}

	.order__item {
		padding: 15px 0;
	}

	.order__wrap-list {
		display: block;
		margin-bottom: 16px;
	}

	.order__close {
		display: none;
	}

	.order__total {
		margin-bottom: 24px;
		font-size: 16px;
	}

	.order__submit {
		padding: 1px;
		margin-bottom: 8px;
		height: 40px;
		border-radius: 12px;
		font-size: 16px;
	}

	.order__appeal {
		font-size: 12px;
	}
}
